$bodyBackground: rgb(237, 242, 253);
$greyLine: rgba(181, 188, 200, 0.4);
$grey: rgb(181, 188, 200);
$red: rgb(255, 103, 139);
$violet: rgb(154, 114, 224);
$blue: rgb(85, 102, 172);
$green: rgb(44, 236, 196);
$darkGreen: rgb(196, 221, 223);
$white: rgb(255, 255, 255);

.lineText {
  width: 50px;
  font-size: 1.2rem;
  color: $grey;
}
.lineVertical {
  width: 2px;
  height: 150px;
  background-color: $greyLine;
}
.lineHorizontal {
  width: 80px;
  height: 2px;
  background-color: $greyLine;
}
.cellBorder {
  border-left: 10px solid;
  border-radius: 5px;
  border-image-source: linear-gradient($violet, $blue);
  border-image-slice: 1;
  box-shadow: 10px 10px 25px 0 $grey;
}
.innerCellStyle {
  width: 300px;
  padding: 10px;
  border: 1px solid $greyLine;
  font-size: 1.3rem;
  font-weight: bold;
}
.addCell {
  margin-left: 81px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
  color: $white;
  font-size: 1.7rem;
  font-weight: bold;
  background-image: linear-gradient($green, $darkGreen);
  box-shadow: 0 0 0 6px $white, 0 10px 15px 12px $darkGreen;
  cursor: pointer;
}
.removeButton {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 100%;
  font-size: 2rem;
  font-weight: 500;
  color: $white;
  background-color: $red;
  box-shadow: 0 5px 10px 0 $red;
  cursor: pointer;
}
.displayNone {
  display: none;
}
